<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300;1,400&family=Roboto&family=Unbounded:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <header>
        <nav class="menu-principal"><img class="logo-market" src="/images/logo-market.svg" alt="logo" width="8%">
            <div class="search"><input class="search-bar" type="text" placeholder="Buscar"><i class="fas fa-search"></i></div>
            <ul class="nav-list">
             <li><a href="/home">Home</a></li>
             <li><a href="/register">Registrate</a></li>
             <li><a href="/login">Login</a></li>
             <li><a href="/carrito">Carrito</a><i class="fas fa-cart-plus"></i></li>
            </ul>
        </nav>
    </header>
    <img class="banner" src="/images/banneroff.gif" alt="banner" width="100%">

    <main>
        <div class="product-detail"> 
            <div class="div-img"><img src="/images/aceite.jpg" width="70%"></div>
            <div>
                <h2 class="product-name">Coconut oeil</h2>
                <h4 class="product-price">$599</h4>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti a repudiandae, obcaecati quia atque blanditiis ipsum quidem voluptate nemo accusamus eligendi animi, vitae ullam repellendus saepe velit dignissimos odio possimus?</p>
                    <div class="product-cantidad">
                        <label for="cantidad">Cantidad:</label><br>
                        <input class="quantity" type="number" id="cantidad" name="cantidad"  min="1" max="10">
                        <button type="submit">Anadir al carrito</button>
                    </div>
            </div>
        </div>
        
       <!--  <div class="recomendedProduct">
            <div><h3>Productos recomendados</h3></div>
            <div class="recomendedProductMain">
                <div class="recomendedProduct1">
                    <p>Cepillos dentales</p>
                    <img src="/images/cepillosdentales.jpg">
                </div>
                <div class="recomendedProduct2">
                    <p>Hogar</p>
                    <img src="/images/hogar.jpg">
                </div>
                <div class="recomendedProduct3">
                    <p>Electronica</p>
                    <img src="/images/electronica.jpg">
                </div>
                <div class="recomendedProduct4">
                    <p>Jabones</p>
                    <img src="/images/jabonliquido.jpg">
                </div>
            </div>
        </div> -->
    </main>
    <section>
    
    </section>

    <footer>
        <div class="container-footer">
            <h2>Nuestra Tienda</h2>
            <p>Nos enorgullece ofrecer productos de alta calidad que no solo son beneficiosos para nuestros clientes, sino también para el medio ambiente. Si estás interesado en hacer un cambio positivo en el mundo y en tu vida diaria, echa un vistazo a nuestra selección de productos sostenibles y únete a nuestra misión de hacer del mundo un lugar mejor. ¡Esperamos verte pronto en nuestra tienda!</p>
        </div>

        <hr size="1px">

        <div class="datastore-container">
            <p> <i class="fas fa-map-marker"></i><br>
                Edificio Corporativo. Ruta Panamericana Km 36, Tortuguitas, Pcia. de Buenos Aires.</p>
            <p><i class="fab fa-facebook-f"></i><br><i class="fab fa-instagram"></i><br>
                <i class="fab fa-linkedin"></i></p>
           
        </div>



        <p class="copyright">© Copyright 2018 World Wide Marketing, Copyright Registration Online provides information and software only.</p>


        
    </footer>
    
    
</body>
</html>