<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300;1,400&family=Roboto&family=Unbounded:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <header>
        <nav class="menu-principal"><img class="logo-market" src="/images/logo-market.svg" alt="logo" width="8%">
            <div class="search"><input class="search-bar" type="text" placeholder="Buscar"><i class="fas fa-search"></i></div>
            <ul class="nav-list">
             <li><a href="/home">Home</a></li>
             <li><a href="/register">Registrate</a></li>
             <li><a href="/login">Login</a></li>
             <li><a href="/carrito">Carrito</a><i class="fas fa-cart-plus"></i></li>
            </ul>
        </nav>
    </header>
    <img class="banner" src="/images/banneroff.gif" alt="banner" width="100%">

    <main>
        <h2>CARRITO DE COMPRAS</h2>

    <div class="car-principal">
        <div class="product-cart">
            <div class="div-car-img"><img src="/images/jabones.jpg" alt="" style="max-width: 50% ;" ></div>
            <div class="detail-cart"> 
                <h2>Producto:</h2>
                <p>JABOB ROSA</p>
                <p>blue</p> <p>$12</p>
            </div>
        </div>
        <div class="car-instructions">
            <p>Intrucciones para venta:</p><br>
        <textarea name="" id="" cols="30" rows="5"></textarea>
        </div>
        <div class="product-total">
            <h2>Subtotal:</h2> <p>$12</p> <br>
           
            <button type="submit">COMPRAR AHORA</button>
        </div>
    </div>

    </main>
    <section>
        
       
      </section>
      

    <footer>
        <div class="container-footer">
            <h2>Nuestra Tienda</h2>
            <p>Nos enorgullece ofrecer productos de alta calidad que no solo son beneficiosos para nuestros clientes, sino también para el medio ambiente. Si estás interesado en hacer un cambio positivo en el mundo y en tu vida diaria, echa un vistazo a nuestra selección de productos sostenibles y únete a nuestra misión de hacer del mundo un lugar mejor. ¡Esperamos verte pronto en nuestra tienda!</p>
        </div>

        <hr size="1px">

        <div class="datastore-container">
            <p> <i class="fas fa-map-marker"></i><br>
                Edificio Corporativo. Ruta Panamericana Km 36, Tortuguitas, Pcia. de Buenos Aires.</p>
            <p><i class="fab fa-facebook-f"></i><br><i class="fab fa-instagram"></i><br>
                <i class="fab fa-linkedin"></i></p>
           
        </div>



        <p class="copyright">© Copyright 2018 World Wide Marketing, Copyright Registration Online provides information and software only.</p>


        
    </footer>
    
    
</body>
</html>