.product-cart{
    display:  flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(232, 223, 207, 0.779) !important;
    margin: 0px;
    padding: 15px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 10px rgb(17, 16, 16);
    
}

.contProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.item{
    width: 80%;
    padding-left: 5rem;
    padding-right: 5rem;
    height: auto;
    background: white;
    border: 0px solid ;
    border-radius: 1rem;
    display:  flex;
    justify-content: space-between;
    align-items: center;

}

.itemImg{
    border-radius: 2px;
    margin: 5px;
    width: 5rem;
    height: 5rem;
    box-shadow: 0.5px 0.5px gray;

}

.contAdd{
    display: flex;
    gap: 1rem;
}

.add{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.pay{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}

#payFinish{
    color: #000000;
    background-color: #5adc7a;
    font-size: 19px;
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    
    box-shadow: 0.5px 0.5px gray;
}

#payFinish:hover{
    background-color: #56e124;
}

#cancelFinish{
    background-color: #e86e6e;
    font-size: 19px;
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    
    box-shadow: 0.5px 0.5px gray;
}

#cancelFinish:hover{
    background-color: #f44646;
}

#totalPrice{
    margin-top: 2rem;
    font-weight: 600;
}

@media (min-width: 769px){
    .product-cart{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 100px 0;
        border-bottom: solid 1px white;
        padding-bottom: 50px;
    }

}

@media (min-width: 1200px) {
    .product-cart label{
        display: none;            
    }
    .product-cart{
        margin-top: 50px;
        padding-top: 50px;  
    }
}

@media (min-width: 1380px){
    .product-cart{ 
        margin-top: 50px;
        background-color: transparent;
        padding-top: 60px;
        border-bottom: solid 1px white;
        padding-bottom: 200px;
    }
}