.form-register{
    display:  flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    margin: 30px 0;
    padding: 15px;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: solid 1px white;
    box-shadow: 0 0 10px rgb(17, 16, 16);
}
.form-register legend{
    font-size: 25px;
    color: white;
}
.form-register input{
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
}
/* .form-register input [text]{ 
text-align: center;
} */

.form-register label{
    text-align: left;
}

.form-register button{
    height: 30px;
    margin-top: 30px;
    background-color: white;
    transition: background-color 350ms;
    border-radius: 3px;
}
.form-register button:hover{
    background-color: rgba(5, 244, 9, 0.735);
}

@media (min-width: 769px){
    .form-register{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 100px 0;
        border-bottom: solid 1px white;
        padding-bottom: 50px;
    }

    .form-register label{
        text-align: left;
    }

    .form-register input, .form-register button{
        width: 50%;        
    } 

    }
    @media (min-width: 1200px) {

        .form-register label{
            display: none;
            
        }
        .form-register{
            margin-top: 50px;
            padding-top: 50px;  
        }
    }

    @media (min-width: 1380px){
        .form-register{ 
            margin-top: 170px;
            background-color: linear-gradient(150deg, rgb(0, 0, 0) 50%);
            padding-top: 60px;
            border-bottom: solid 1px white;
            padding-bottom: 70px;
            border-radius: 50px;
          /*   box-shadow: 4px -4px 3px 0px rgba(10, 1, 1, 0.25);   */
            box-shadow: 0 0 10px rgb(17, 16, 16);

        }

        .errors{
        color: red;
        font-size: 12px;
        }


        main {
            padding: 20px 400px 0px 400px;
        }

        .form-register input {
            width: 50%;
        }
        input[type="text"], input[type="password"]{
          font-size: 16px;
          padding-left: 20px;
        }

        .form-register button{
            width: 20%;
            border-radius: 25px;
            border: solid 1px black;
            height: 50px;
        }

        .banner{
            display: none;
        }
    }
