<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300;1,400&family=Roboto&family=Unbounded:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/createAndEditProduct.css">
</head>

<body>
    <!-- header -->
    <%- include('./partials/header') %>
    <img class="banner" src="/images/banneroff.gif" alt="banner" width="100%">

    <main>

        <form class="form-edit" action="" method="get">
            <h2>Crear o editar un producto</h2>
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre" id="" placeholder=" Nombre">
            
            <label for="Descripcion">Descripción</label>
            <input type="text" name="Nombre" id="" placeholder=" Descripcion">
            
            <label for="Imagen">Imagen</label>
            <input type="file" class="cargar" name="Nombre" id="" placeholder=" Imagen">

            <label for="Categoria">Categoría</label>
            <input type="text" name="Nombre" id="" placeholder=" Categoria">
            
            <label for="Detalles">Detalles</label>
            <input type="text" name="Nombre" id="" placeholder=" Detalles">
            
            <label for="Precio">Precio</label>
            <input type="number" name="Nombre" id="" placeholder=" Precio">
            
            <button id="enviar" type="submit" >
                Enviar
            </button>

        </form>

        <section class="section-categories">
            <h2>CATEGORIAS</h2>
            <p>"¡Bienvenidos a nuestra sección de categorías! En esta sección, encontrarás todos nuestros productos
                organizados por temas y categorías para que puedas encontrar fácilmente lo que necesitas. Desde
                artículos para el hogar y cuidado personal, tenemos una amplia variedad de productos para todas tus
                necesidades. ¡Echa un vistazo a nuestras categorías y comienza a hacer tus compras hoy mismo!"</p>
            <br>

           
             <!-- SECCION DE CATEGORIAS  -->
             <%- include('./partials/categories') %>
        </section>

    </main>
    <section>
        <h2>Testimonios</h2>

    </section>

    <!-- footer -->
    <%- include('./partials/footer') %>

</body>

</html>