<div  class="container-categorys"> <!-- 640x800 dimension de imagenes -->

    <div class="product">
    <h2>Salud</h2><br>
    <a href="/home/salud"><img src="/images/salud.jpg" alt="imagen" width="50%"></a>
    </div>

    <div class="product">
    <h2>Cuidado Personal</h2><br>
    <a href="/home/cuidadopersonal"><img src="/images/productos.jpg" alt="imagen" width="50%"></a>
    </div>

    <div class="product">
    <h2>Limpieza</h2><br>
    <a href="/home/limpieza"><img src="/images/limpieza.jpg" alt="imagen" width="50%"></a>
    </div>
    <div class="product">
    <h2>Hogar</h2><br>
    <a href="/home/hogar"><img src="/images/hogar.jpg" alt="imagen" width="50%"></a>
        </div>
</div>