<div  class="container-categorys"> <!-- 640x800 dimension de imagenes -->

    <div class="product">
    <h2>Salud</h2><br>
    <img src="/images/salud.jpg" alt="imagen" width="50%">
    </div>

    <div class="product">
    <h2>Cuidado Personal</h2><br>
    <img src="/images/productos.jpg" alt="imagen" width="50%">
    </div>

    <div class="product">
    <h2>Limpieza</h2><br>
    <img src="/images/limpieza.jpg" alt="imagen" width="50%">
    </div>
    <div class="product">
    <h2>Hogar</h2><br>
    <img src="/images/hogar.jpg" alt="imagen" width="50%">
        </div>
</div>