<footer>
    <div class="container-footer">
        <h2>Nuestra Tienda</h2>
        <p>Nos enorgullece ofrecer productos de alta calidad que no solo son beneficiosos para nuestros clientes, sino también para el medio ambiente. Si estás interesado en hacer un cambio positivo en el mundo y en tu vida diaria, echa un vistazo a nuestra selección de productos sostenibles y únete a nuestra misión de hacer del mundo un lugar mejor. ¡Esperamos verte pronto en nuestra tienda!</p>
    </div>

    <hr size="1px">

    <div class="datastore-container">
        <p> <i class="fas fa-map-marker"></i><br>
            Edificio Corporativo. Ruta Panamericana Km 36, Tortuguitas, Pcia. de Buenos Aires.</p>
        <p><i class="fab fa-facebook-f"></i><br><i class="fab fa-instagram"></i><br>
            <i class="fab fa-linkedin"></i></p>
       
    </div>



   
    <p class="copyright">© Copyright 2018 World Wide Marketing, Copyright Registration Online provides information and software only.</p>
</footer>
