<header>
    <nav class="menu-principal"><img class="logo-market" src="/images/logo-market.svg" alt="logo" width="8%">
        <div class="search"><input class="search-bar" type="text" placeholder="Buscar"><i class="fas fa-search"></i></div>
        <ul class="nav-list">
         <li><a href="/home">Home</a></li>
         <li><a href="/register">Registrate</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/carrito">Carrito</a><i class="fas fa-cart-plus"></i></li>
        </ul>
    </nav>
</header>